# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

# Environnements virtuels
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Modèles ML (volumineux)
# *.joblib
*.pkl
*.h5

# Données brutes (volumineux)
*.csv

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Variable d'environnement
.env.*